<% if (locals.messages.errors) { %> 
    <% messages.errors.forEach( el => { %>
    <div><%= el.msg %></div>
<% }) %> <% } %> 
    
<% if (locals.messages.info) { %> 
    <% messages.info.forEach( el => { %>
    <div><%= el.msg %></div>
<% }) %> <% } %>

<% if (locals.messages.success) { %> 
    <% messages.success.forEach( el => { %>
    <div><%= el.msg %></div>
<% }) %> <% } %>

