<!-- Footer -->

<footer class="bg-dark text-white p-4">
    <div class="container-fluid">
        <div class="content d-flex justify-content-between">
            <span>&copy;2022 <a href="https://www.celiackelly.com/" target="_blank">Celia Kelly</a></span>
            <div class="socials">
                <a href="https://github.com/celiackelly/classroom-job-board" target="_blank" class="px-1"><i class="fa-solid fa-code"></i></a>
                <a href="https://github.com/celiackelly/" target="_blank" class="px-1"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/celiackelly/" target="_blank" class="px-1"><i class="fa-brands fa-linkedin"></i></a>
                <a href="mailto:celiackelly@gmail.com?subject=Inquiry%20About%20Classroom%20Job%20Board" target="_blank" class="px-1"><i class="fa-solid fa-paper-plane"></i></a>
            </div>
        </div>
    </div>
</footer>