<!-- Header -->

<header class="sticky-top">
    <nav class="navbar navbar-dark navbar-expand-sm p-2 py-3">
        <div class="container-fluid px-sm-5">
            <a class="navbar-brand" href="/">
                <img src="/img/noun-raising-hands-1317110-white.svg" alt="Logo- three figures raising their hands" class="d-inline-block align-middle">
                <span>Classroom Job Board</span>
                </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"        
                aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item px-1">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <% if (!currentUser) { %>
                            <li class="nav-item px-1">
                                <a class="nav-link" href="/login">Log in</a>
                            </li>
                            <li class="nav-item px-1">
                                <a class="nav-link btn btn-cta" href="/signup">Sign up</a>
                            </li>
                        <% } else { %>
                            <li class="nav-item px-1">
                                <a class="nav-link" href="/users/<%-currentUser._id %>/dashboard">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-cta" href="/logout?_method=DELETE">Log out</a>
                            </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</header>