<div class="container-fluid mt-3 pt-5">
    <section class="row d-flex flex-column justify-content-center align-items-center">
        <h3 class="text-center">Login</h3>
        <!--Login by sending a POST request to the /auth route-->        

        <form action="/login" method="POST" class="col-md-6 col-lg-4 py-4">

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="emailInput" name="email" required placeholder="name@example.com">
                <label for="emailInput">Email</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="passwordInput" name="password" placeholder="password">
                <label for="passwordInput">Password</label>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-cta">Login</button>
            </div>
        </form>
        <div class="col-md-6 col-lg-4 d-grid text-center">
            <p class="or-divider"><span>or</span></p>
            <a class="btn btn-lg btn-google btn-block btn-outline mb-3" href="/auth/google"><img src="/img/btn_google_light_normal_ios.svg"> Sign in with Google</a>
            <a href="/signup">Not registered? Sign up</a>
        </div>
    </section>
</div>