<form action="/login" method="POST">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">
</form>
<a href="/auth/google">or Google Sign In</a>

<h2>Or Sign In With Google:</h2>
<div id="btn-sign-in-with-Google"></div>