<form action="/signup" method="POST">
    <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="lastName" placeholder="Last Name">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="confirmPassword" placeholder="Confirm Password">
    <input type="submit">
</form>

<h2>Or Continue With Google:</h2>
<div></div>