/* CSS HEX */
/* --safety-yellow: #F4D836;
--pacific-blue: #0AB4D1;
*/


/* General */

body {
    background-color: #E6F4F1;
}

/* Typography */

h1 {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira Condensed', sans-serif;
}

h1 + p {
    font-weight: 600;
}


/* Buttons */

.btn-cta {
    background-color: #F4D836ff;
    color: #000;
    font-weight: 600;
}

.btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd;
    font-family: 'Roboto', sans-serif;
}
.btn-google:hover {
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd;
    border: none;
}

.or-divider {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
.or-divider span { 
    background: #E6F4F1; 
    padding: 0 10px; 
}

/* Header / Navbar */

.navbar {
    background-color: #0AB4D1;
}

.navbar-brand span {
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Saira Condensed', sans-serif;
    vertical-align: middle;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.navbar-brand img {
    width: 2rem;
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.7));
}

.nav-link:not(.btn-cta) {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.navbar-collapse {
    text-align: center;
}

/* Footer */
footer a {
    color: #0AB4D1;
}
footer i {
    font-size: 1.5rem;
}

/* Homepage Page */

    /* Hero Section */
    .section-hero {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #0AB4D1ff;
    }

    /* Cards */
    .card-img-top {
        width: 40%;
        margin: auto;
        object-fit: cover;
    }

    .card {
        height: 100%;
    }

.fa-circle-plus {
    color: #0AB4D1;
    font-size: 2rem;
}


